<!doctype html>
<head>
    <style>
        table, th, td {
            border: 1px double black;
            padding: 5px;
            font-size: 18px;
        }
    </style>
    <title>GET endpoint</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
<div>
    <canvas id="myChart" width="400" height="200"></canvas>
</div>
<script>
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Lines of code',
                data: {{ category_dict.loc }},
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1,
            },
            {
                label: 'Flake8 exceptions',
                data: {{ category_dict.flake8 }},
                fill: false,
                borderColor: 'rgb(204, 200, 1)',
                tension: 0.1,
            },
            {
                label: 'no-qa occurrences',
                data: {{ category_dict.noqa }},
                fill: false,
                borderColor: 'rgb(255, 0, 102)',
                tension: 0.1,
            },
            {
                label: 'Avg module size',
                data: {{ category_dict.mod_size }},
                fill: false,
                borderColor: 'rgb(50, 20, 150)',
                tension: 0.1,
            },
            {
                label: 'Test coverage',
                data: {{ category_dict.coverage }},
                fill: false,
                borderColor: 'rgb(100, 2, 10)',
                tension: 0.1,
            }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>

{#  <table>#}
{#      <tr>#}
{#          <th>timestamp</th>#}
{#          <th>domain</th>#}
{#          <th>category</th>#}
{#          <th>value</th>#}
{#      </tr>#}
{#      {% if data %}#}
{#                <tr>#}
{#          {% for d in data %}#}
{#              <td>{{ d }}</td>#}
{#          {% endfor %}#}
{#                </tr>#}
{#      {% else %}#}
{#          <td colspan="4">No data has been added yet</td>#}
{#      {% endif %}#}
{#  </table>#}
